{% extends "pos/base.html" %}
{% block title %}Piada | New Staff{% endblock %}

{% block content %}
    <div class="w-100 content-section shadow p-4 mb-5 mt-3 bg-body rounded">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Staff</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Sign up with <a href="{% url 'social:begin' 'google-oauth2' %}" a class="ml-2">Google</a>
            </small>
        </div>
    </div>
{% endblock content %}