{% extends 'pos/base.html' %}
{% block title %}Piadas | Order History{% endblock %}

<!-- load the static folder for django -->
{% load static %}

{% block morehead %}
    <link rel="stylesheet" href="{% static 'pos/styles/manager_home-style.css' %}" />
    <script src="{% static 'pos/javascript/order_history.js' %}"></script>
{% endblock %}

{% block content %}

{% csrf_token %}
<p class="visually-hidden" id="user-id">{{ user.id }}</p>
<div class="row col-12 p-0 m-0">
    <div class = "bg-white">
        <button class="menu-btn m-2" onclick="go_to_id()">Go To:</button>
        <input id = "go_to_input" class = "bg-white m-2"></input>
        <button class="menu-btn m-2" onclick="prev_100()">Previous</button>
        <button class="menu-btn m-2" onclick="next_100()">Next</button>
    </div>
    <div id="order-list" class = "p-0 m-0">
        <!-- Order item list header -->
        <div class="bg-dark-gray mt-0 fs-4 order-row row text-center p-0 m-0 fw-bold">
            <div class="col-1 border border-dark">#</div>
            <div class="col-3 border border-dark">Time</div>
            <div class="col-4 border border-dark">Items</div>
            <div class="col-2 border border-dark">Price</div>
            <div class="col-1 border border-dark"></div>
            <div class="col-1 border border-dark"></div>
        </div>
        <div>
            {% for order in orders %}
                <div class="bg-light mt-0 fs-4 order-row row text-center p-0 m-0 fw-bold">
                    <div class="col-1 border border-dark">#{{  order.id  }}</div>
                    <div class="col-3 border border-dark">{{  order.date_time  }}</div>
                    <div class="col-4 border border-dark">
                        {% for name in order.common_names %}
                            <p>{{ name }}</p>
                        {% endfor %}
                    </div>
                    <div class="col-2 border border-dark">{{ order.price }}</div>
                    <button class="col-1 border border-dark" onclick="edit_order()" data-order-id="{{ order.id }}">Edit</button>
                    <button class="col-1 border border-dark" onclick="delete_order()" data-order-id="{{ order.id }}">Delete</button>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
            
{% endblock %}
{% block javaScript %}
<script>
    function hideCartContainer() {
        var cartContainer = document.getElementById("checkout-btn");
        if (cartContainer.style.display !== "none") {
            cartContainer.style.display = "none";
        }
    }
    hideCartContainer();
</script>
{% endblock javaScript%}

