{% extends 'pos/base.html' %}
{% block title %}Piadas | Customer{% endblock %}

{% load static %}

{% block morehead %}
    <link rel="stylesheet" href="{% static 'pos/styles/landing.css' %}" />
{% endblock %}

{% block content %}
<div id="staff-landing-container">
    <div id="landing-container">
        <div class="" id="landing-container">
            <!-- 
                Menu & Current Store
                Create Order
                Order History
                Account Details
                    - personal info
                    - recent orders
                    - favorite orders
             -->
            <div class="w-100" id="landing-welcome">
                <div class="mx-auto" id="h1-wrapper">
                    <h1><strong>Piada for {{ user.username }}!</strong></h1>
                </div>
            </div>

            <div class="" id="landing-mid">
                <div class="" id="button-wrapper">
                    <a href="{% url 'Menu Location' %}">
                        <button id="menu-btn">The Menu</button>
                    </a>
                    <!-- <button id="store-btn">Change Store</button> -->
                    <!-- <button id="order-btn">My Orders</button> -->
                    <a href="{% url 'Account Details' %}">
                        <button id="account-btn">My Account</button>
                    </a>
                </div>
                <div class="" id="map-container">
                    <div id="current-store">
                        <h1 id="my-store-h1"><strong>MY STORE</strong></h1>
                    </div>
                    <div class="" id="map-wrapper">
                        <!-- Load users iFrame store -->
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13733.380577348591!2d-96.3395247!3d30.6242291!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864683948b74be99%3A0xa73f7a8f8c500ffd!2sPiada%20Italian%20Street%20Food!5e0!3m2!1sen!2sus!4v1699135351535!5m2!1sen!2sus"
                            width="100%"
                            height="100%"
                            style="border: 5px solid black; border-radius: 30px; margin-top: 3vh"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                    </div>
                </div>
            </div>

            <div class="" id="landing-footer"></div>
        </div>
    </div>
    </div>
    </body>
</html>

{% endblock %}
